/* Header */

.designheader{
    margin: 3rem 0 6rem;
    padding: 5rem 0rem;
    background-color: var(--primary-color);
    border-radius: 15px;
    color: var(--white-color);
}

.designtext{
    font-size: 3rem;
}

.designsubtext{
    font-size: 1rem;
    line-height: 2;
    margin-bottom: 0;
}

/* Projects Section */

.designprojects{
    margin: 0rem;
}

.projectimg{
    border-radius: 10px 10px 0 0;
}

.projectinfo{
    background-color: var(--tertiary-color);
    border-radius: 0 0 10px 10px;
    padding: 1rem 5rem;
}

.projectinfo:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.projectinfo:hover h4{
    color: var(--white-color);
}

.projectinfo:hover p{
    color: var(--white-color);
}

.projecttitle{
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1rem;
}

.projectdecription{
    font-size: 1rem;
    color: #333136;
}

/* Other Projects section */

.otherprojectcontainer {
    margin: 10rem auto;
    display: flex;
    flex-direction: row;
  }

.otherproject{
    position: relative;
}

.otherprojectinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.firstproject{
    background-image:
    linear-gradient(
          rgba(34, 34, 34, 0.6),
          rgba(34, 34, 34, 0.6)
        ),
    url('/src/assets/image-web-design-large.jpg');
    background-size: cover;
    border-radius: 15px;
    white-space: nowrap;
    width: 50%;
    height: 50vh;
    margin: 0 1rem;
}

.secondproject{
    background-image:
    linear-gradient(
            rgba(34, 34, 34, 0.6),
            rgba(34, 34, 34, 0.6)
        ),
    url('/src/assets/image-app-design.jpg');
    background-size: cover;
    border-radius: 15px;
    white-space: nowrap;
    width: 50%;
    height: 50vh;
    margin: 0 1rem;
}

.thirdproject{
    background-image:
    linear-gradient(
            rgba(34, 34, 34, 0.6),
            rgba(34, 34, 34, 0.6)
            ),
    url('/src/assets/image-graphic-design.jpg');
    background-size: cover;
    border-radius: 15px;
    white-space: nowrap;
    width: 50%;
    height: 50vh;
    margin: 0 1rem;
}

.projecttype{
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 48px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white-color);
}

.seeproject{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;    
    letter-spacing: 5px;
    text-transform: uppercase;  
    color: var(--white-color);
    text-align: center;
}

.seeproject:hover{
    color: var(--primary-color);
}

.projecticon{
    color: var(--primary-color);
    font-weight: bolder;
}

@media screen and (min-width: 990px) and (max-width: 1300px) {

.projectinfo{
   padding: 1rem;
}

.projecttype{
    font-size: 2rem;
}

.seeproject{
    font-size: 0.9rem;    
}
}


@media screen and (width: 992px) {

.project{
    display: flex;
    width: 100% !important;
}
}


@media screen and (min-width: 700px) and (max-width: 992px) {

/* Projects Section */

.designprojects{
    margin: 0rem;
}

.project{
    display: flex;
    flex-direction: row;
}

.projectimg{
    width: 150%;
    border-radius: 10px 0 0 10px;
}

.projectinfo{
    width: 70%;
    background-color: var(--tertiary-color);
    border-radius: 0 10px 10px 0px;
    padding: 9rem 2rem; 
}

/* Other projects */

.otherprojectcontainer {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
  }

.firstproject{
    width: 98%;
    height: 45vh;
    margin: 1rem;
}

.secondproject{
    width: 98%;
    height: 45vh;
    margin: 1rem;
}

.thirdproject{
    width: 98%;
    height: 45vh;
    margin: 1rem;
}

.projecttype{
    font-size: 2.2rem;
}

.seeproject{
    font-size: 1rem;    
}

}

@media screen and (max-width: 700px) { 

.otherprojectcontainer {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
  }

.firstproject{
    width: 95%;
    height: 45vh;
    margin: 1rem;
}

.secondproject{
    width: 95%;
    height: 45vh;
    margin: 1rem;
}

.thirdproject{
    width: 95%;
    height: 45vh;
    margin: 1rem;
}

.projecttype{
    font-size: 2rem;
}

.seeproject{
    font-size: 0.9rem;    
}
}

@media screen and (max-width: 480px) { 

.designprojects{
    margin: 0rem 1rem;
}

.projectinfo{
    padding: 1rem; 
}

.designheader{
    margin-bottom: 3rem;
    padding: 5rem 0rem;
    border-radius: 0px;
}

.designtext{
    font-size: 2.5rem;
}

.designsubtext{
    font-size: 0.8rem;
}

/* Other Projects section */

.otherprojectcontainer {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
  }

.firstproject{
    width: 89%;
    height: 45vh;
    margin: 1rem;
}

.secondproject{
    width: 89%;
    height: 45vh;
    margin: 1rem;
}

.thirdproject{
    width: 89%;
    height: 45vh;
    margin: 1rem;
}

.projecttype{
    font-size: 1.6rem;
}

.seeproject{
    font-size: 0.8rem;    
}

}

    
