.designocontainer{
   margin: 0 8rem;
}

/* Hero section */

.hero {
  margin-top: 6rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 15px; 
  max-height: 700px;
  overflow: hidden;
}

.herocontainer {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.herocontainerinner {
  width: 50%;
  padding: 10rem 0rem 0 7rem;
}

.herocontainerimg {
  width: 50%;
}

.heroimg{
  margin-left: 5rem;
}

.herotext {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.herosubtext {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 4rem;
  font-weight: 300;
}

.herobtn:link,
.herobtn:visited { 
  font-size: 16px;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
  text-decoration: none;
  display: inline-block;
  padding: 16px 20px;
  border-radius: 9px;
  text-transform: uppercase;
}

.herobtn:hover{
  background-color: var(--secondary-color);
  color: var(--white-color);
}

/* Project section */

.projectcontainer {
  position: relative;
  height: 100vh;
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.designone{
    background-image:
    linear-gradient(
          rgba(34, 34, 34, 0.6),
          rgba(34, 34, 34, 0.6)
        ),
    url('/src/assets/image-web-design-large.jpg');
    background-size: cover;
    white-space: nowrap;
    height: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
    border-radius: 15px;
}

.designtwo{
    background-image:
    linear-gradient(
          rgba(34, 34, 34, 0.6),
          rgba(34, 34, 34, 0.6)
        ),
    url('/src/assets/image-app-design.jpg');
    background-size: cover;
    white-space: nowrap;
    grid-column: 2;
    grid-row: 1;
    border-radius: 15px;
}

.designthree{
  background-image:
  linear-gradient(
          rgba(34, 34, 34, 0.6),
          rgba(34, 34, 34, 0.6)
        ),
  url('/src/assets/image-graphic-design.jpg');
  background-size: cover;
  white-space: nowrap;
  grid-column: 2;
  grid-row: 2;
  border-radius: 15px;
}

.designproject{
  position: relative;
}

.designproject:hover{
  background: var(--primary-color);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.designcategory{
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 48px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--white-color);
}

.viewprojects{ 
  font-weight: 400;
  font-size: 1rem;    
  letter-spacing: 5px;
  text-transform: uppercase;  
  color: var(--white-color);
  text-align: center;
}

.designicon{
  color: var(--primary-color);
  font-weight: bolder;
}


/* Features section */

.featuretext{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1;
  letter-spacing: 4px;
  padding: 3rem 0 2rem;
  text-align: center;
}

.featuresubtext{
  padding: 0 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 990px) and (max-width: 1460px) {
  .designocontainer{
    margin: 0 2rem;
 }
  
  /* Hero section */

.hero {
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 15px;
  max-height: 860px;
  overflow: hidden;
}

.herocontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herocontainerinner {
  width: 100%;
  padding: 4rem 6rem 0;
}

.herotext {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

.herosubtext {
  margin-bottom: 1.5rem;
  text-align: center;
}

.herobutton{
  text-align: center;
}

.herocontainerimg {
  width: 100%;
  text-align: center !important;
  margin: 0;
  padding: 0;
  bottom: 100px;
}

.heroimg{
  margin-left: 0;
  text-align: center !important;
}
}

@media screen and (min-width: 769px) and (max-width: 990px) {

  .designocontainer{
    margin: 0 2rem;
 }
  
  /* Hero section */

.hero {
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 15px;
  max-height: 860px;
  overflow: hidden;
}

.herocontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herocontainerinner {
  width: 100%;
  padding: 4rem 6rem 0;
}

.herotext {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

.herosubtext {
  margin-bottom: 1.5rem;
  text-align: center;
}

.herobutton{
  text-align: center;
}

.herocontainerimg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 100px;
}

.heroimg{
  margin-left: -2rem;
  text-align: center !important;
}

/* Project section */

.projectcontainer {
  position: relative;
  height: 100vh;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.designone{
    background-image: cover;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
}

.designtwo{
    grid-column: 1 / -1;
    grid-row: 2;
}

.designthree{
  white-space: nowrap;
  grid-column: 1 / -1;
  grid-row: 3;
  border-radius: 15px;
}

.designproject{
  position: relative;
}

.designproject:hover{
  background: var(--primary-color);
}

.designimg{
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.designcategory{
  font-size: 2rem;
}

.viewprojects{
  font-size: 0.9rem;    
}

/* Features section */

.eachfeature{
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  margin: 0 3rem;
}

.featurecontent{
  padding: 0 2rem;
  margin: 1rem auto;
}

.featuretext{
  padding: 1rem 0;
  text-align: left !important;
}

.featuresubtext{
  text-align: left !important;
  padding: 0;
}

}

@media screen and (max-width: 768px) {
  
.designocontainer{
    margin: 0 2rem;
 }
  
  /* Hero section */

.hero {
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 15px;
  max-height: 860px;
  overflow: hidden;
}

.herocontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herocontainerinner {
  width: 100%;
  padding: 4rem 6rem 0;
}

.herotext {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

.herosubtext {
  margin-bottom: 1.5rem;
  text-align: center;
}

.herobutton{
  text-align: center;
}

.herocontainerimg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 100px;
}

.heroimg{
  margin-left: -2rem;
  text-align: center !important;
}

/* Features section */

.eachfeature{
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.featurecontent{
  padding: 0 2rem;
  margin: 1rem auto;
}

.featuretext{
  padding: 1rem 0;
  text-align: left;
}

.featuresubtext{
  text-align: left;
  padding: 0;
}

/* Project section */

.projectcontainer {
  position: relative;
  height: 100vh;
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.designone{
    background-image: cover;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1;
}

.designtwo{
    grid-column: 1 / -1;
    grid-row: 2;
}

.designthree{
  white-space: nowrap;
  grid-column: 1 / -1;
  grid-row: 3;
  border-radius: 15px;
}

.designproject{
  position: relative;
}

.designproject:hover{
  background: var(--primary-color);
}

.designimg{
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.designcategory{
  font-size: 2rem;
}

.viewprojects{
  font-size: 0.9rem;    
}

}

@media screen and (min-width: 480px) and (max-width: 650px) {

.herocontainerinner {
  width: 100%;
  padding: 4rem 2rem 0rem;
}
}

@media screen and (max-width: 489px) {

.designocontainer{
    margin: 0rem;
 }
  
  /* Hero section */

.hero {
  margin-top: 4rem;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 0;
  max-height: 865px;
  overflow: hidden;
}

.herocontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herocontainerinner {
  width: 100%;
  padding: 4rem 0.5rem 0;
}

.herotext {
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.herosubtext {
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0 1.3rem;
}

.herobutton{
  text-align: center;
}

.herocontainerimg {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 100px;
  left: -100px;
}

.heroimg{
  margin-left: 0rem;
}

/* Project section */

.projectcontainer {
  position: relative;
  height: auto;
  margin: 6rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.designone{
  background-image: cover;
  height: 100%;
  white-space: nowrap;
  grid-column: 1 / -1;
  grid-row: 1;
}

.designtwo{
  white-space: nowrap;
  grid-column: 1 / -1;
  grid-row: 2;
}

.designthree{
  white-space: nowrap;
  grid-column: 1 / -1;
  grid-row: 3;
  border-radius: 15px;
}

.designproject{
  position: relative;
  height: 250px;
}

.designproject:hover{
  background: var(--primary-color);
}

.designimg{
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.designcategory{
  font-size: 1.5rem;
}

.viewprojects{
  font-size: 0.9rem;    
}

/* Features section */

.eachfeature{
  display: flex;
  flex-direction: column;
  padding-bottom: 0.6rem;
  }
  
.featurecontent{
  padding: 0 3rem;
  margin: 1rem auto;
  text-align: center;
}

.featuretext{
  padding: 1rem 0;
  text-align: center;
}

.featuresubtext{
  text-align: center;
  padding: 0;
}
}

@media screen and (max-width: 375px) {
  .herocontainerimg {
  position: relative;
  bottom: 100px;
  left: -140px;
}
}

@media screen and (max-width: 330px) {

  .herocontainerimg {
  position: relative;
  bottom: 100px;
  left: -150px;
}

.designcategory {
  font-size: 1rem;
}
}