.touchsection{
    position: relative;
    margin-bottom: -12rem;   
}

.touchcontainer{
    margin: 5rem 0;
    padding: 6rem 7rem 5rem;
    background-color: var(--primary-color);
    border-radius: 15px;
}

.touchinnercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    color: var(--white-color);
}

.touchheader{
   width: 40%;
}

.touchtext{
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    white-space: nowrap;
}

.touchsubtext{
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.8;
}

.touchbtn:link,
.touchbtn:visited { 
  margin: 0 auto;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--white-color);
  color: var(--black-color);
  text-decoration: none;
  display: inline-block;
  padding: 1rem 1.2rem;
  border-radius: 9px;
  text-transform: uppercase;
}

.touchbtn:hover{
    color: var(--white-color);
    background: var(--secondary-color);
}


@media screen and (max-width: 990px) {

.touchcontainer{
    padding: 5rem 0rem;
}

.touchinnercontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.touchheader{
   width: 100%;
   text-align: center;
}

.touchtext{
    white-space: nowrap;
}

.touchsubtext{
    padding: 0 10rem 1rem;
}

}

@media screen and (max-width: 768px) {

.touchsubtext{
    padding: 0 6rem 1rem;
}
    
}

@media screen and (max-width: 520px) { 
.touchcontainer{
    margin: 5rem 1.5rem;
}

.touchtext{
    font-size: 2.5rem;
}

.touchsubtext{
    padding: 0 2rem 1rem;
}

}

@media screen and (max-width: 350px) { 
.touchcontainer{
    margin: 5rem 1.5rem;
}

.touchtext{
    font-size: 2rem;
}

.touchsubtext{
    padding: 0 1rem 1rem;
}

}