.navcontainer{
    padding-top: 3rem;
    margin: 0 8rem;
}

.navitem{
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem !important;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
    margin: 0 1rem;
    text-transform: uppercase;
}

.navitemcontact{
    margin-right: 0;
}

@media screen and (max-width: 1300px) {

.navcontainer{
    margin: 0 2rem;
}

}

@media screen and (max-width: 768px) {

.navcontainer{
    margin: 0 3rem;
}

}

@media screen and (max-width: 480px) {

.navlogo{
    width: 180px;
}

.navcontainer{
    margin: 0 1.5rem;
}

}

@media screen and (max-width: 320px) {

.navlogo{
    width: 150px;
}

.navcontainer{
    margin: 0rem;
}

}