.navcontainer{
    padding-top: 3rem;
    margin: 0 8rem;
}

.navitem{
    font-style: normal;
    font-weight: 400;
    font-size: 1.1rem !important;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
    margin: 0 1rem;
    text-transform: uppercase;
}

.navitemcontact{
    margin-right: 0;
}

@media screen and (min-width: 481px) and (max-width: 768px) {

.navcontainer{
    margin: 0 3rem;
}

/* .navitem{
    font-size: 1rem !important;
    margin: 0 12px;
    padding: 0 !important;
}

.navitemcontact{
    margin-right: 0;
    padding-right: 0;
} */

}

@media screen and (min-width: 320px) and (max-width: 480px) {

.navcontainer{
    margin: 0 1.5rem;
}
}