.navcontainer{
    padding-top: 3rem;
}

.navitem{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    color: #333136;
    margin: 0 12px;
    text-transform: uppercase;
}