*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(11, 73%, 66%);  /* Peach */
  --secondary-color: hsl(11, 100%, 80%); /* Light Peach */
  --black-color: hsl(270, 3%, 11%);   
  --white-colour: hsl(0, 0%, 100%);  
  --dark-grey: hsl(264, 5%, 20%);
  --light-grey: hsl(210, 17%, 95%);
  --default-font-family: 'Jost', sans-serif;

}

body {
  margin: 0px auto;
  font-family: var(--default-font-family);
  background-color: var(--white-color);
}

a {
  text-decoration: none;
  color: inherit;
}

